   <%= render 'public/users/info', user: @user %>
    <h4>マイページ</h4>
    <table class = "table">
        <thread>
            <tr>
                <th>インタビューID</th>
                <th>ホスト名</th>
                <th>インタビュー名</th>
            </tr>
        </thread>
        <tbody>
            <% @interviews.each do |interview| %>
            <tr>
                <td><%= interview.id %></td>
                <td><%= interview.user.name %></td>
                <td><%= link_to interview.title, public_interview_path(interview) %></td>
            </tr>
            <% end %>
        </tbody>
    </table>



