<div class="container">
    <div class="row">
      <div class="col-lg-4">
        <div class="card">
          <img class="card-img-top" src="/app/assets/images/schedule.png" alt="カレンダーの画像">
          <div class="card-body">
            <h4 class="card-title">カレンダー</h4>
            <p class="card-text">予定したインタビュー内容をカレンダーに登録することができます。</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="card">
          <img class="card-img-top" src="/app/assets/images/cloud.png" alt="共有の画像">
          <div class="card-body">
            <h4 class="card-title">内容の共有</h4>
            <p class="card-text">インタビューの内容を保存し、他の人と共有することができます。</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="card">
          <img class="card-img-top" src="images//e-learning.jpeg" alt="記録の画像">
          <div class="card-body">
            <h4 class="card-title">学習記録</h4>
            <p class="card-text">誰かと共有をしなくても、自分だけの内容を記録することもできます。</p>
          </div>
        </div>
      </div>
    </div>
  </div>