<div class="container">
    <div class="row">
      <div class="col-lg-4">
        <div class="card h-100">
          <img src="assets/images/schedule.png" class="card-img-top"  alt="カレンダーの画像" id="card-image">
          <div class="card-body">
            <h4 class="card-title">カレンダー</h4>
            <p class="card-text">予定したインタビュー内容をカレンダーに登録することができます。</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="card h-100">
          <img src="assets/images/cloud.png" class="card-img-top"  alt="共有の画像" id="card-image">
          <div class="card-body">
            <h4 class="card-title mt-5">内容の共有</h4>
            <p class="card-text">インタビューの内容を保存し、他の人と共有することができます。</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="card h-100">
          <img src="assets/images/study.png" class="card-img-top" alt="記録の画像" id="card-image">
          <div class="card-body">
            <h4 class="card-title m">学習記録</h4>
            <p class="card-text">誰かと共有をしなくても、自分だけの内容を記録することもできます。</p>
          </div>
        </div>
      </div>
    </div>
  </div>