<div class="container">
    <div class= "jumbotron" style="background:url(app/assets/images/meeting.jpg); background-size:cover;">
        <h4>InterviewMGT</h4>
        <p>あなたのコミュニケーションを管理し、それを共有する面談管理サイトです</p>
    </div>
</div>

