<div class="row">
    <div class="col-md-3">
      <h2>My profile</h2>
       <%= image_tag user.get_profile_image( 100,100 ) %>
       <table class="table">
         <tbody><tr></tr>
          <tr>
	   　　  <th>name</th>
	         <th><%= link_to user.name, public_user_path(user.id) %></th>
            </tr>
            <tr>
                <th>group</th>
                <th><%= user.group %></th>
            </tr>
            <tr>
    	       <th>introduction</th>
    	       <th><%= user.introduction %></th>
            </tr>
          </tbody>
        </table>
    </div>
</div>