<li class="nav-item">
    <%= link_to root_path, class: 'nav-link text-white' do %>
    <i class="fas fa-home"></i>Top
    <% end %>
</li>
<li class="nav-item">
    <%= link_to about_path, class: 'nav-link text-white' do %>
    <i class="fas fa-question"></i>About
    <% end %>
</li>
<li class="nav-item">
    <%= link_to new_user_registration_path, class: 'nav-link text-white' do %>
    <i class="fas fa-user-plus"></i>新規登録
    <% end %>
</li>
<li class="nav-item">
    <%= link_to new_user_session_path, class: 'nav-link text-white' do %>
    <i class="fas fa-sign-out-alt"></i>ログイン
    <% end %>
</li>